.navbar {
    align-content: center;
    justify-content: center;
    background-color: #aed9ff !important;
    height: 13vh;
    display: flex;
    flex-direction: row;
    h5{
        font-size: 1.5rem;
        font-family: "serif";
        color: #000000;
    }
}
.library{
    font-size: 3.0rem;
    align-items: start;
    margin-left: -6rem;
}

.form-check-input{
    margin-right: 0rem !important;

}
.navIcon{
    background-color: transparent;
    border: none;
    .navIcon:hover{
        background-color: transparent   !important;
    }
}
.title{
    font-size: 1.5rem;
    font-family: "serif";
    color: #fb0505;
}