.navbar {
    align-content: center;
    justify-content: center;
    background-color: #aed9ff !important;
    height: 13vh;
    display: flex;
    flex-direction: row;
    h5 {
        font-size: 1.5rem;
        font-family: "serif";
        font-weight: bold;
        margin-left: 30px;
    }
}

.library {
    font-size: 2.9rem;
    align-items: start;
    margin-left: -6rem;
}

.form-check-input {
    margin-right: 0rem !important;
}
.navIcon {
    background-color: transparent;
    border: none;
}



.navbar-custom {
    padding-left: 10px;
    padding-right: 10px;
}





@media (max-width: 576px) {
    .navbar-custom .library {
        font-size: 2.2rem; 
        margin-left: 6rem;
    }

    .navbar-custom .navIcon {
        font-size: 1.2rem; 
    }

    .navbar-custom .title {
        font-size: 0.75rem; 
    }
}

/* @media (max-width: 1100){
    .navbar-custom .library {
        font-size: 2.2rem; 
        margin-left: 20rem;
    }

    .navbar-custom .navIcon {
        font-size: 1.2rem; 
    }

    .navbar-custom .title {
        font-size: 0.75rem; 
    }
} */